#!/usr/bin/env bash
alias cp='cp' # unalias from oh-my-zshell
alias la='ls -lAhG' # don't print group
alias ll='ls -lhG'  # don't print group
alias t='tree -C'
alias td='tree -dC'

alias edit=subl
alias gw='./gradlew'

alias dcu='docker compose up'
alias dcd='docker compose down'
alias dcdv='docker compose down -v'

alias mux='tmuxinator'
alias watchtree='clear; tree -CA; while inotifywait -q -r .; do clear; tree -CA; done;'
alias watchls='clear; tree -CA; while inotifywait -q -r .; do clear; ls -l; done;'
alias bsync='browser-sync . -f . --cors --no-notify --single'

if which explorer.exe &> /dev/null; then
	alias open='explorer.exe' # For WSL
else
	alias open='xdg-open'
fi

alias f='find . -name'
alias v=nvim

# git
alias gitc='git checkout $(git branch --format="%(refname:short)" | fzf)'
