#!/usr/bin/env bash

alias la='ls -lAhG' # don't print group
alias ll='ls -lhG'  # don't print group
alias t='tree -C'
alias td='tree -dC'

alias edit=subl
alias gw='./gradlew'
alias dcu='docker-compose up'
alias dcd='docker-compose down'
alias mux='tmuxinator'
alias wtch='clear; tree -CA; while inotifywait -q -r .; do clear; tree -CA; done;'
alias wtchls='clear; tree -CA; while inotifywait -q -r .; do clear; ls -l; done;'
alias c='pygmentize -O style=rrt -f console256 -g'

alias bsync='browser-sync start -s -f * --no-notify'

alias jee='mvn archetype:generate -Dfilter=com.airhacks:javaee'

# inotifywait -r -m * | while read file; do clear; tree; done
