#!/usr/bin/env bash

j() {
	java $@
}

async() {
	local cmd="$1"
 	shift
  	"$cmd" "$@" > /dev/null 2>&1 &
}

war() {
  # is "--" present as its own arg?
	idx=${argv[(I)--]}

	if (( idx )); then
		# split argv around the "--"
		watchlist=("${argv[1,$((idx-1))]}")     # args before --
		command=("${argv[$((idx+1)),-1]}")      # args after  --
	else
		# no "--": last arg is the watch target, the rest is the command
		watchlist=("${argv[-1]}")
		command=("${argv[1,-1]}")
	fi

	echo "watchlist:: <$watchlist>"
	echo "command:: <$command>"
	wad_do() {
		clear;
		the_time=$(date +%H:%M:%S)
		start=$(date +%s.%N)
		# Run the command that was provided as argument
		eval $@;
		rc=$?
		end=$(date +%s.%N)
		diff=$(echo "${end} - ${start}" | bc)
		if [ $rc -eq 0 ]; then
			echo ""
			echo -e "\e[2m[${the_time}]\e[0m \e[1;32m** Successful **\e[0m \e[2m(time: ${diff} seconds)\e[0m"
		else
			echo ""
			echo -e "\e[2m[${the_time}]\e[0m \e[1;31m** Failed **\e[0m"
		fi
		sleep 1;
	}
	wad_do $command
	while inotifywait --recursive -qq  --include "$watchlist" .; do
		wad_do $command
	done
}

warj() {
	clear;while inotifywait -qq $1; do clear; javac $1; java ${1%.*}; sleep 1; done
}

cjclass() {

	class=${1%.java}
	file=${1}

	cat << EOF > $file
import java.io.*;
import java.util.*;

public class ${class} {
	public static void main (String[] args) {
		System.out.println("Hello World!");
	}
}
EOF

	chmod u+x $file
	echo "File $file created."
}

cjcmd() {

	class=$1
	file=$(echo "$class" | tr '[:upper:]' '[:lower:]')

	cat << EOF > $file
#!java --source 11

import java.io.*;
import java.util.*;

public class ${class} {
	public static void main (String[] args) {
		System.out.println("Hello World!");
	}
}
EOF

	chmod u+x $file
	echo "File $file created."
}
